

.mainContainer{
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 30px;
  }

.unordered {
  height: 700px;
  padding-left: 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
   overflow: auto;
   border: 1px #282c3434 solid
  }

  .list a {
    text-decoration: none;
    color: black;
  }

.list img {
  width: 40px;
}



.listItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  width: 100%;
  
}
h1 {
  text-align: left;
}

td {
  width: 500px;
  text-align: left;
  vertical-align: top;
  padding: 20px;

}
 .heading {
  width: 150px;
 }

table tr {  border-top: 1px;
  border-style: solid;
  border-color:#282c3434
  
}

.listItem:hover { background-color: rgb(189, 187, 187);

}

.details {
  width: 700px
}


